<div class="my-frame ">
    <% stations.forEach(function(station) { %>
        <form class="station" action="/detail" method="POST">
            <h1>Name</h1>
            <input type="text" name="station" value='<%=station%>'>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <% }); %>
</div>